@font-face {
/* font name needs to be in quotes */
font-family: "reglisse-white";
src: url("fonts/ReglisseBack-eZewm.otf") format("opentype");
}
@font-face {
font-family: "reglisse-black";
src: url("fonts/ReglisseFill-WyWzn.otf") format("opentype");
}
@font-face {
font-family: "alloy";
src: url("fonts/AlloyInk-lgdWw.otf") format("opentype");
}
@font-face {
font-family: "shades";
src: url("fonts/ShadesOfBlack-jjvG.ttf") format("truetype");
}
@font-face {
font-family: "candy";
src: url("fonts/Candycolouredclown-x2vq.otf") format("opentype");
}
@font-face {
font-family: "snacker";
src: url("fonts/SnackerComicPersonalUseOnly-g3Z5.ttf") format("truetype");
}
* {
box-sizing: border-box;
}
body {
position: relative;
background: linear-gradient(to right,darkgray 0%, white,
rgba(128, 128, 128, 0.562) 95%);
margin: 0;
padding: 0;
}
h1 {
font-family: "snacker", monospace;
text-align: center;
font-size: 40px;
margin: 10px 0 15px;
}
button {
cursor: pointer;
}
#results {
font-family: "reglisse-black";
position: absolute;
left: 30vw;
border: 10px groove black; 
width: 40vw; 
height: auto; 
margin: 20px auto;
font-size: 16px;
padding: 10px;
border-radius: 3px;
}
.choice-button {
border-radius: 4px;
margin: 10px;
transition: all 0.3s;
border: 1px solid darkgray;
padding: 5px;
}
.choice-button:hover, .choice-button:focus, #close-button:hover {
transform: scale(1.1);
}
img:focus {
outline: 2px solid black;
}
img {
width: 220px;
height: 140px;
}
p {
padding: 5px;
margin: auto;
}
#intro {
width: 50vw;
margin: 10px auto;
font-family: "alloy";
font-size: 14px;
}
#buttons-container {
width: max-content;
height: auto;
margin: auto;
}
#alert-box {
width: 220px;
height: 130px;
background-color: hsl(0, 0%, 95%);
position: absolute;
bottom: 25px;
left: 400px;
border: 2px solid black;
border-radius: 4px;
padding: 20px 10px;
font-family: "candy";
text-align: center;
font-size: 16px;
}
#close-button {
width: 50px;
height: auto;
background-color: #999999;
font-family: "reglisse-black";
Z-index: 1;
position: absolute;
bottom: 15px;
right: 15px;
box-shadow: 3px 3px 6px white;
}
.invisible {
display: none;
}
.visible {
display: block;
}